#include "../generated/adaptive_swaps.dtsi"

#ifndef GRAPHITE_B
#define GRAPHITE_B &kp B
#endif
#ifndef GRAPHITE_C
#define GRAPHITE_C &kp C
#endif
#ifndef GRAPHITE_D
#define GRAPHITE_D &kp D
#endif
#ifndef GRAPHITE_E
#define GRAPHITE_E &hmr RALT E
#endif
#ifndef GRAPHITE_H
#define GRAPHITE_H &hmr RSHFT H
#endif
#ifndef GRAPHITE_L
#define GRAPHITE_L &kp L
#endif
#ifndef GRAPHITE_R
#define GRAPHITE_R &hml LALT R
#endif
#ifndef GRAPHITE_N
#define GRAPHITE_N &hml LGUI N
#endif
#ifndef GRAPHITE_S
#define GRAPHITE_S &hml LSHFT S
#endif
#ifndef GRAPHITE_W
#define GRAPHITE_W &kp W
#endif
#ifndef GRAPHITE_X
#define GRAPHITE_X &kp X
#endif
#ifndef GRAPHITE_Y
#define GRAPHITE_Y &kp Y
#endif
#ifndef GRAPHITE_O
#define GRAPHITE_O &kp O
#endif
#ifndef GRAPHITE_Q
#define GRAPHITE_Q &kp Q
#endif
#ifndef GRAPHITE_Z
#define GRAPHITE_Z &kp Z
#endif

ZMK_BASE_LAYER(Graphite,
//╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
    GRAPHITE_B GRAPHITE_L GRAPHITE_D GRAPHITE_W GRAPHITE_Z ,  &kp J      &kp F      GRAPHITE_O &kp U      &comma_excl ,
//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
   GRAPHITE_N GRAPHITE_R &hml LCTRL T GRAPHITE_S &kp G ,  GRAPHITE_Y GRAPHITE_H &hmr RCTRL A GRAPHITE_E &hmr RGUI I ,
//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
    GRAPHITE_X GRAPHITE_Q &kp M      GRAPHITE_C &kp V      ,  &kp K      &kp P      &sqt_dqt   &minus_slash &dot_qmark ,
//╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                    LH_NONE &thumb_bspc LAYER_Nav 0  &thumb_spc LAYER_Symbol SPACE , &sk LSHFT  &num_repeat LAYER_Num 0 RH_NONE
//                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
)
