/* Racket */

ZMK_ADAPTIVE_KEY(alpha_magic_racket_1, bindings = <&key_repeat>;
    AK(racket_ak_f, F, &kp T)
    AK(racket_ak_s, S, &kp K)
    AK(racket_ak_k, K, &kp S)
    AK(racket_ak_l, L, &kp K)
    AK(racket_ak_u, U, &kp E)
    AK(racket_ak_e, E, &kp U)
    AK(racket_ak_o, O, &kp A)
    AK(racket_ak_c, C, &kp Y)
    AK(racket_ak_y, Y, &kp W)
    AK(racket_ak_g, G, &kp Y)
    AK(racket_ak_h, H, &kp M)
)

ZMK_BASE_LAYER(Racket,
//╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
    &kp F      &kp D      &kp L      &kp W      &kp J      ,  &kp Q      &kp B      &kp O      &kp U      &comma_excl ,
//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
   &hml LGUI S &hml LALT T &hml LCTRL H &hml LSHFT C &kp Y , &alpha_magic_racket_1 &hmr RSHFT N &hmr RCTRL A &hmr RALT E &hmr RGUI I ,
//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
    &kp X      &kp K      &kp M      &kp G      &kp V      ,  &kp Z      &kp P      &sqt_dqt   &minus_slash &dot_qmark ,
//╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
            LH_NONE &thumb_bspc LAYER_Nav 0  &thumb_spc LAYER_Symbol SPACE , &sk LSHFT  &num_repeat LAYER_Num 0 RH_NONE
//                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
)
