ZMK_BASE_LAYER(Caster,
//╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
    &kp B      &kp Y      &kp D      &kp L      &kp FSLH   ,  &kp Q      &kp F      &kp O      &kp U      &kp SEMI ,
//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
   &hml LGUI C &hml LALT S &hml LCTRL T &hml LSHFT R &kp X ,  &kp J    &hmr RSHFT N &hmr RCTRL A &hmr RALT I &hmr RGUI H ,
//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
    &kp V      &kp W      &kp G      &kp M      &kp Z      ,  &kp MINUS  &kp P      &dot_qmark &comma_excl &kp K ,
//╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
            LH_NONE &nav_repeat LAYER_Num 0  &kp SPACE , &thumb_r LAYER_Symbol E  &lt LAYER_Nav BSPC RH_NONE
//                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
)
