ZMK_BASE_LAYER(Vestnik,
//╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
    &kp W      &kp L      &kp H      &kp U      &kp LBKT   ,  &kp A      &kp G      &kp F      &kp Z      &kp SQT  ,
//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
    &hml LGUI C &hml LALT N &hml LCTRL Y &hml LSHFT R &kp COMMA , &kp M  &hmr RSHFT D &hmr RCTRL J &hmr RALT T &hmr RGUI B ,
//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
    &kp I      &kp P      &kp K      &kp V      &kp X      ,  &kp SEMI   &kp Q      &kp S      &kp E      &kp DOT  ,
//╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
            LH_NONE &nav_ht LAYER_Nav 0  &thumb_bspc LSHFT 0 , &thumb_spc LAYER_Symbol SPACE  &lt LAYER_Num RET RH_NONE
//                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
)
