ZMK_BASE_LAYER(Night,
//╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
    &kp B      &kp F      &kp L      &kp D      &kp Q      ,  &kp P      &kp G      &kp O      &kp U      &dot_qmark ,
//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
   &hml LGUI N &hml LALT S &hml LCTRL H &hml LSHFT T &kp M ,  &kp Y    &hmr RSHFT C &hmr RCTRL A &hmr RALT E &hmr RGUI I ,
//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
    &kp X      &kp V      &kp J      &kp K      &kp Z      ,  &sqt_dqt   &kp W      &kp SEMI   &kp FSLH   &comma_excl ,
//╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
            LH_NONE &lt LAYER_Nav BSPC  &thumb_r LAYER_Symbol R , &kp SPACE  &nav_repeat LAYER_Num 0 RH_NONE
//                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
)
