#ifdef LUNA
ZMK_LAYER(Num,
    &trans &trans &trans &trans &trans
    &trans &trans &trans &trans &trans
    &kp N6 &kp N4 &kp N0 &kp N2 &trans
    &trans &kp N3 &kp N1 &kp N5 &kp N7
    &trans &trans &kp N8
    &kp N9 &trans &trans
    &kp BSPC &kp SPACE &sl LAYER_Fn &trans
)
#else
ZMK_BASE_LAYER(Num,
//╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
    &trans     &trans     &trans     &trans     &trans     ,  &trans     &trans     &trans     &trans     &trans    ,
//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
    &kp N6     &kp N4     &kp N0     &kp N2     &trans     ,  &trans     &kp N3     &kp N1     &kp N5     &kp N7    ,
//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
    &trans     &trans     &trans     &kp N8     &trans     ,  &trans     &kp N9     &trans     &trans     &trans    ,
//╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                     LH_NONE &kp BSPC  &kp SPACE   ,  &sl LAYER_Fn &trans RH_NONE
//                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
)
#endif

#ifdef LUNA
ZMK_LAYER(NumMirror,
    &none &none &none &none &kp EQUAL
    &kp DOT &kp N7 &kp N8 &kp N9 &kp MINUS
    &kp LGUI &kp LALT &kp LCTRL &kp LSHFT &kp PRCNT
    &kp STAR &kp N4 &kp N5 &kp N6 &kp COLON
    &none &none &none
    &kp N1 &kp N2 &kp N3
    &none &none &kp N0 &kp COMMA
)
#else
ZMK_BASE_LAYER(NumMirror,
//╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
    &none      &none      &none      &none      &kp UNDER  ,  &kp PLUS   &kp N7     &kp N8     &kp N9     &kp MINUS ,
//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
    &kp LGUI   &kp LALT   &kp LCTRL  &kp LSHFT  &kp EQUAL  ,  &kp DOT    &kp N4     &kp N5     &kp N6     &kp COLON ,
//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
    &none      &none      &none      &none      &kp PRCNT  ,  &kp STAR   &kp N1     &kp N2     &kp N3     &kp FSLH  ,
//╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                     LH_NONE &none      &none       ,  &kp N0     &kp COMMA RH_NONE
//                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
)
#endif
