ZMK_BASE_LAYER(Num,
//╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
    &kp MINUS  &kp N7     &kp N8     &kp N9     &kp PLUS   ,  &kp UNDER  &none      &none      &none      &none     ,
//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
    &kp COLON  &kp N4     &kp N5     &kp N6     &kp DOT    ,  &kp EQUAL  &kp RSHFT  &kp RCTRL  &kp RALT   &kp RGUI  ,
//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
    &kp FSLH   &kp N1     &kp N2     &kp N3     &kp STAR   ,  &kp PRCNT  &none      &none      &none      &none     ,
//╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                     LH_NONE &kp COMMA  &kp N0      ,  &sl LAYER_Fn &none RH_NONE
//                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
)

ZMK_BASE_LAYER(NumMirror,
//╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
    &none      &none      &none      &none      &kp UNDER  ,  &kp PLUS   &kp N7     &kp N8     &kp N9     &kp MINUS ,
//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
    &kp LGUI   &kp LALT   &kp LCTRL  &kp LSHFT  &kp EQUAL  ,  &kp DOT    &kp N4     &kp N5     &kp N6     &kp COLON ,
//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
    &none      &none      &none      &none      &kp PRCNT  ,  &kp STAR   &kp N1     &kp N2     &kp N3     &kp FSLH  ,
//╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                     LH_NONE &none      &none       ,  &kp N0     &kp COMMA RH_NONE
//                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
)
