ZMK_BASE_LAYER(System,
//╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
    &bootloader &to_graphite &to_racket &to_night &to_caster , &none      &none      &none      &none      &bootloader ,
//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
    &bt BT_CLR &bt_0      &bt_1      &bt_2      &bt_3      ,  &soft_off  &kp _LOCK  &kp _SHUTDOWN &kp _SLEEP &out OUT_TOG ,
//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
    &sys_reset &none      &none      &none      &none      ,  &none      &none      &none      &none      &sys_reset ,
//╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                     LH_NONE &none      &none      ,  &none      &none RH_NONE
//                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
)
