/*
 * Adaptive swap source table.
 *
 * ADAPTIVE_SWAP(layer, prior, left, right) means:
 *   after prior, left and right are interchangeable.
 */

/* Graphite SFB */
ADAPTIVE_SWAP(Graphite, S, C, D)
ADAPTIVE_SWAP(Graphite, S, W, R)
ADAPTIVE_SWAP(Graphite, C, S, N)
ADAPTIVE_SWAP(Graphite, W, S, D)
ADAPTIVE_SWAP(Graphite, R, L, Z)
ADAPTIVE_SWAP(Graphite, U, E, O)
ADAPTIVE_SWAP(Graphite, P, H, Q)
ADAPTIVE_SWAP(Graphite, P, Y, Z)
ADAPTIVE_SWAP(Graphite, H, Y, Z)
ADAPTIVE_SWAP(Graphite, F, Y, Z)

/* Graphite scissor */
ADAPTIVE_SWAP(Graphite, B, R, D)
ADAPTIVE_SWAP(Graphite, M, B, Q)
