ZMK_COMBO(tmux_prefix,  &kp LC(A),        LB0 LB1, ALPHA_LAYERS,   COMBO_TERM, COMBO_IDLE)

ZMK_COMBO(yo_apos,      &kp GRAVE,         RT3 RT4, LAYER_VestnikDm, 50, COMBO_IDLE)
ZMK_COMBO(shcha,        &kp O,             LT4 LT3, LAYER_VestnikDm, 50, COMBO_IDLE)
ZMK_COMBO(hard_sign,    &kp RBKT,          RT0 RT1, LAYER_VestnikDm, 50, COMBO_IDLE)
#ifndef LUNA
ZMK_COMBO(v_comma_excl, &v_comma_excl,     RB2 RB3, LAYER_VestnikDm, 50, COMBO_IDLE)
ZMK_COMBO(v_dot_qmark,  &v_dot_qmark,      RB3 RB4, LAYER_VestnikDm, 50, COMBO_IDLE)
#endif

#ifndef LEADER_COMBO_KEYS
#define LEADER_COMBO_KEYS LH2 RH2
#endif

ZMK_COMBO(leader_combo,  &leader,           LEADER_COMBO_KEYS, ALPHA_LAYERS, COMBO_TERM, COMBO_IDLE)
