#ifndef LUNA
ZMK_COMBO(v_comma_excl, &v_comma_excl,     RB2 RB3, LAYER_VestnikDm, 50, COMBO_IDLE)
ZMK_COMBO(v_dot_qmark,  &v_dot_qmark,      RB3 RB4, LAYER_VestnikDm, 50, COMBO_IDLE)
#endif

ZMK_COMBO(grave,       &kp GRAVE,         LT1 LM1, LAYER_Graphite LAYER_Num, COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(at,          &kp AT,            LT2 LM2, LAYER_Graphite LAYER_Num, COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(hash,        &kp HASH,          LT3 LM3, LAYER_Graphite LAYER_Num, COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(dllr,        &kp DLLR,          LT4 LM4, LAYER_Graphite LAYER_Num, COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(semi,        &kp SEMI,          RT1 RM1, LAYER_Graphite LAYER_Num, COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(amps,        &kp AMPS,          RT2 RM2, LAYER_Graphite LAYER_Num, COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(pipe,        &kp PIPE,          RT3 RM3, LAYER_Graphite LAYER_Num, COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(bslh,        &kp BSLH,          RT4 RM4, LAYER_Graphite LAYER_Num, COMBO_TERM, COMBO_IDLE)

ZMK_COMBO(lpar,        &lpar_lt,          RM1 RM2, LAYER_Graphite LAYER_VestnikDm LAYER_Num, COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(rpar,        &rpar_gt,          RM2 RM3, LAYER_Graphite LAYER_VestnikDm LAYER_Num, COMBO_TERM, COMBO_IDLE)
#ifdef LUNA
ZMK_COMBO(lbkt,        &lbkt_lbrc,        RB0 RB1, LAYER_Graphite LAYER_Num, COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(rbkt,        &rbkt_rbrc,        RB1 RB2, LAYER_Graphite LAYER_Num, COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(copy,        &copy_cut,         LB2 LB1, LAYER_Graphite LAYER_VestnikDm LAYER_Num, COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(paste,       &paste_morph,      LB1 LB0, LAYER_Graphite LAYER_VestnikDm LAYER_Num, COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(cut,         &kp _C(X),         LB2 LB0, LAYER_Graphite LAYER_VestnikDm LAYER_Num, COMBO_TERM, COMBO_IDLE)
#else
ZMK_COMBO(lbkt,        &lbkt_lbrc,        RB1 RB2, LAYER_Graphite LAYER_Num, COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(rbkt,        &rbkt_rbrc,        RB2 RB3, LAYER_Graphite LAYER_Num, COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(copy,        &copy_cut,         LB3 LB2, LAYER_Graphite LAYER_VestnikDm LAYER_Num, COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(paste,       &paste_morph,      LB2 LB1, LAYER_Graphite LAYER_VestnikDm LAYER_Num, COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(cut,         &kp _C(X),         LB3 LB1, LAYER_Graphite LAYER_VestnikDm LAYER_Num, COMBO_TERM, COMBO_IDLE)
#endif
ZMK_COMBO(bspc,        &bspc_del,         RT2 RT3, LAYER_Graphite LAYER_VestnikDm LAYER_Num, COMBO_TERM, COMBO_IDLE)

ZMK_COMBO(esc,         &kp ESC,           LT3 LT2, LAYER_Graphite LAYER_VestnikDm LAYER_Num, COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(tab,         &kp TAB,           LM3 LM2, LAYER_Graphite LAYER_VestnikDm LAYER_Num, COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(ldr,         &leader,           LM2 LM1, LAYER_Graphite LAYER_VestnikDm LAYER_Num, COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(mouse,       &smart_mouse,      LT2 LT1, LAYER_Graphite LAYER_VestnikDm LAYER_Num, COMBO_TERM, COMBO_IDLE)
