ZMK_COMBO(caps,         &caps_morph,       LT2 RT2, LAYER_Graphite LAYER_Vestnik LAYER_Night, COMBO_TERM, COMBO_IDLE)

ZMK_COMBO(undo_redo,    &undo_redo,        LB4 LB3, ALPHA_LAYERS,   COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(qm_paste,     &paste_morph,      LB1 LB2, ALPHA_LAYERS,   COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(mc_copy_cut,  &copy_cut,         LB2 LB3, ALPHA_LAYERS,   COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(tmux_prefix,  &kp LC(A),        LB0 LB1, ALPHA_LAYERS,   COMBO_TERM, COMBO_IDLE)

ZMK_COMBO(yo_apos,      &kp GRAVE,         RT3 RT4, LAYER_Vestnik,  50, COMBO_IDLE)
ZMK_COMBO(shcha,        &kp O,             LT4 LT3, LAYER_Vestnik,  50, COMBO_IDLE)
ZMK_COMBO(hard_sign,    &kp RBKT,          RT0 RT1, LAYER_Vestnik,  50, COMBO_IDLE)
ZMK_COMBO(v_comma_excl, &v_comma_excl,     RB2 RB3, LAYER_Vestnik,  50, COMBO_IDLE)
ZMK_COMBO(v_dot_qmark,  &v_dot_qmark,      RB3 RB4, LAYER_Vestnik,  50, COMBO_IDLE)

ZMK_COMBO(system_combo, &sl LAYER_Magic,   LH2 RH2, ALPHA_LAYERS,   COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(mouse_combo,  &mouse_ht LAYER_Mouse LAYER_Mouse,  LH1 LH2, ALPHA_LAYERS,   COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(fn_combo,     &sl LAYER_Fn,      RH1 RH2, ALPHA_LAYERS,   COMBO_TERM, COMBO_IDLE)
