/* splitkb Aurora Sweep — 34-key board wrapper. */

#include <zmk-helpers/key-labels/36.h>

// 34-key board: remap 4 thumb keys to positions 30-33
#undef LH0
#undef LH1
#undef LH2
#undef RH0
#undef RH1
#undef RH2
#define LH2 30
#define LH1 31
#define RH1 32
#define RH2 33

#include "base.keymap"

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_System {
            bindings = <
     &bootloader   &kp _SLEEP    &kp _SHUTDOWN &kp _LOCK     &soft_off          &none       &none        &none        &none      &bootloader
     &bt_0         &bt_1         &bt_2         &bt_3         &out OUT_TOG       &soft_off   &kp _LOCK    &kp _SHUTDOWN &kp _SLEEP &bt BT_CLR
     &sys_reset    &none         &none         &none         &none              &none       &none        &none        &none      &sys_reset
                                        &none                &none              &none       &none
            >;
        };

    };
};
