config SHIELD_WYSTERIA_LEFT
    def_bool $(shields_list_contains,wysteria_left)
    select ZMK_SPLIT
    select ZMK_SPLIT_ROLE_CENTRAL

config SHIELD_WYSTERIA_RIGHT
    def_bool $(shields_list_contains,wysteria_right)
    select ZMK_SPLIT
