config SHIELD_ANSIC_LEFT
    def_bool $(shields_list_contains,ansic_left)
    select ZMK_SPLIT
    select ZMK_SPLIT_ROLE_CENTRAL

config SHIELD_ANSIC_RIGHT
    def_bool $(shields_list_contains,ansic_right)
    select ZMK_SPLIT
